body {
    padding: 50px 0;
    font-size: 19px;
    font-family: HelveticaNeueETW01-55Rg;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
}

article {
    margin: 0 auto;
    width: 1024px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
}

h1 {
    font-family: HelveticaNeueETW01-75Bd;
    font-size: 5.105em;
    line-height: 2.03em;
    text-align: center;
    width: 1024px;
}

p.intro {
    font-family: HelveticaNeueETW02-45Lt;
    font-size: 1.368em;
    border-top: 1px;
    border-bottom: 1px;
    padding: 1.154em;
    text-align: center;
    border-style: solid;
    line-height: 1.5em;
    margin: 1.038em 0px;
    color: rgba(255, 255, 255, 1);
}

p {
    font-size: 1em;
    line-height: 1.421em;
    color: rgba(255, 255, 255, 1);
    margin: 0px 0px 1.421em 0px;
}

h2 {
    font-size: 1.526em;
    font-family: HelveticaNeueETW02-65Md;
    line-height: 0.931em;
    margin: 0px 0px 0.931em 0px;
}

p.pullquote {
    padding-left: 10px;
    border-style: solid;
    border-left-width: 3px;
    color: rgba(255, 255, 255, 1);
    font-size: 1em;
    line-height: 1.421em;
    margin: 0px 0px 1.421em 0px;
}

p.author {
    text-align: center;
    font-size: 13px;
    letter-spacing: 2px;
    margin-top: 27px;
}

a {
    color: #FF1177;
    text-decoration: none;
}

a {
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
    color: #ffffff;

}

/*glow for webkit*/
@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #FF1177,
        0 0 70px #FF1177,
        0 0 80px #FF1177,
        0 0 100px #FF1177,
        0 0 150px #FF1177;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #FF1177,
        0 0 35px #FF1177,
        0 0 40px #FF1177,
        0 0 50px #FF1177,
        0 0 75px #FF1177;
    }
}

/*glow for mozilla*/
@-moz-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #FF1177,
        0 0 70px #FF1177,
        0 0 80px #FF1177,
        0 0 100px #FF1177,
        0 0 150px #FF1177;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #FF1177,
        0 0 35px #FF1177,
        0 0 40px #FF1177,
        0 0 50px #FF1177,
        0 0 75px #FF1177;
    }
}

/*glow*/
@keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #FF1177,
        0 0 70px #FF1177,
        0 0 80px #FF1177,
        0 0 100px #FF1177,
        0 0 150px #FF1177;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #FF1177,
        0 0 35px #FF1177,
        0 0 40px #FF1177,
        0 0 50px #FF1177,
        0 0 75px #FF1177;
    }
}

@media screen and (max-width: 900px) {
    article {
        margin: 0 auto;
        width: 100%;
        padding: 0 2em;
    }

}

@media screen and (max-width: 480px) {
    body {
        font-size: 90%;
    }

    h1 {
        font-size: 3.75em;
        line-height: 0.929em;
    }

    p {
        font-size: 16px;
    }

    p.pullquote {
        font-size: 16px;
    }

}